
 body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
 }
 .header-image{
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
    width: 100%;
 }
 .wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
 }
 .logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: fantasy;
    color: #FF204E;
 }
 .menu{
    float: right;
 }
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #FF204EFf ;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.data-form {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

.data-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}